@use '../../../../../../../custom-palettes.scss';

//popup close btn
@include custom-palettes.inventualPopupClose;

//checkbox style
@include custom-palettes.inventualInputFieldStyle;
@include custom-palettes.inventualSelectFieldStyle;

//popup btn
@include custom-palettes.inventualMaterialBtn;

//popup common style
@include custom-palettes.popupCommonStyle;

.inventual-popup-inner {
    width: 700px;
    @apply p-7;

    @media (min-width: 768px) and (max-width: 991px) {
        width: 610px;
    }

    @media (min-width: 576px) and (max-width: 767px) {
        width: 440px;
    }

    @media (min-width: 450px) and (max-width: 575px) {
        width: 350px;
    }

    @media (max-width: 449px) {
        width: inherit;
    }
}