DB_CONNECTION=server=localhost;database=InventarioFerreteria;user=;password=;
JWT_KEY=InventarioFerreteria_2026_Seguridad_Total_Clave_Secreta!
FRONTEND_URL=http://localhost:4200
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
